@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    margin: 0;
    min-height: 100vh;
  }
}

body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
}

.ant-typography {
  font-size: 16px;
}

span {
  font-size: 16px;
}

.custom-select-placeholder .ant-select-selection-placeholder {
  color: white !important;
  font-size: 18px !important;
}

.ant-select-selector {
  border: none !important;
  background-color: transparent !important;
}

.custom-button:hover {
  color: #f56565 !important;
  border-color: #f56565 !important;
}

/* NAVBAR STYLES */

.ant-layout-header {
  background-color: #1f2937 !important;
}

.ant-menu {
  background-color: transparent !important;
}

.ant-menu-item {
  color: #f3f4f6 !important;
}

.custom-menu .ant-menu-item-selected::after,
.custom-menu .ant-menu-item:hover::after {
  border-color: #27a5b0 !important;
}

.ant-dropdown .ant-dropdown-menu {
  background-color: #1f2937 !important;
}

/* SEARCH BAR STYLES */

.search-bar-button {
  min-height: 50px;
  border-radius: 0 2px 2px 0;
  font-size: 16px;
}

@media (min-width: 768px) {
  .show-on-md {
    display: block !important;
  }
  .hide-on-md {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  /* SEARCH BAR STYLES */

  .search-bar-button {
    border-radius: 2px;
    width: 100%;
    font-size: 16px;
  }
}
