@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  margin: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
}

/* ANT DESIGN STYLES */

.custom-select-search-bar .ant-select-selector {
  border: none !important;
}

.custom-select-placeholder
  .ant-select-selector
  .ant-select-selection-placeholder {
  color: black !important;
}

.custom-select-placeholder-text .ant-select-selection-placeholder {
  color: black !important;
}

.custom-menu .ant-menu-item-selected::after,
.custom-menu .ant-menu-item:hover::after {
  border-color: #27a5b0 !important;
}

.custom-button:hover {
  color: #f56565 !important;
  border-color: #f56565 !important;
}

.ant-btn-primary {
  background-color: #27a5b0;
}

.ant-layout {
  background-color: #ffffff;
}

.ant-dropdown .ant-dropdown-menu {
  background-color: #1f2937 !important;
}

/* SEARCH BAR STYLES */

.search-bar-button {
  min-height: 50px;
  border-radius: 0 2px 2px 0;
}

@media (min-width: 768px) {
  .show-on-md {
    display: block !important;
  }
  .hide-on-md {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  /* SEARCH BAR STYLES */

  .search-bar-button {
    border-radius: 2px;
    width: 100%;
  }
}
